@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
  padding: 0;
  margin-left: -7px;
}